<!DOCTYPE html>
<div>
<meta charset="UTF-8" />
<head>
    <title>Ledslie</title>
    <style>
        body {font-family: sans-serif;}
    </style>
</head>
    <h1>Ledslie</h1>
    <h2>How to use</h2>
    <div>Text: POST to /text<br/>
    <form action="/text" method="post">
        <input type="text" name="text" value="Your text"/><br/>
        <input type="text" name="duration" value="3000"/>
        <input type="submit" value="Show">
    </form>
    </div>
    <hr/>
    <div>Text: POST to /text3<br/>
    <form action="/text3" method="post">
        <input type="text" name="l1" value="Line1"/><br/>
        <input type="text" name="l2" value="Line2"/><br/>
        <input type="text" name="l3" value="Line3"/><br/>
        <input type="text" name="duration" value="3000"/>
        <input type="submit" value="Show">
    </form>
    </div>
    <hr/>
    <div>Gifs POST to /gif with a valid 144x24 8bit grayscale, Content-Type: image/gif<br/>
    <pre>$ curl -v -X POST --data-binary @tester/test.gif -H "Content-Type: image/gif" http://«my_ip»/gif</pre>
    <form action="/gif" method="post" enctype="multipart/form-data">
        <input type="file" name="f">
        <input type="submit" value="Show">
    </form>
    </div>
    <hr/>
    <div>
        <a href="https://wiki.techinc.nl/index.php/Ledslie">Ledslie Project page</a>
    </div>
</body>
</html>

<!-- Laatste/Eerste byte van een frame heeft de highbyte -->
<!-- Serial out moet in rawmode stty anders <CR> na <NL>-->