[Unit]
Description=Ledslie website
After=network.target

[Service]
EnvironmentFile=-/etc/default/ledslie
User=www-data
PermissionsStartOnly=true
ExecStartPre=-/bin/mkdir /var/run/ledslie/
ExecStartPre=/bin/chown {{ ansible_user }}:www-data /var/run/ledslie/
ExecStartPre=/bin/chmod 771 /var/run/ledslie/
ExecStart=/home/{{ ansible_user }}/pyenv/bin/python /home/{{ ansible_user }}/src/ledslie.fcgi
#ExecReload=/bin/kill -HUP $MAINPID
#KillMode=process
#Restart=on-failure

[Install]
WantedBy=multi-user.target

