[Unit]
Description=Ledslie typesetter
After=network.target

[Service]
EnvironmentFile=-/etc/default/ledslie
User={{ledslie_user}}
ExecStart=/home/{{ ansible_user }}/pyenv/bin/python /home/{{ ansible_user }}/src/ledslie/processors/typesetter.py
#ExecReload=/bin/kill -HUP $MAINPID
#KillMode=process
#Restart=on-failure

[Install]
WantedBy=multi-user.target
