[Unit]
Description=Ledslie serializer
After=network.target mosquitto.service

[Service]
EnvironmentFile=-/etc/default/ledslie
User=vagrant
ExecStart=/home/vagrant/pyenv/bin/python /home/vagrant/src/ledslie/processors/serializer.py
#ExecReload=/bin/kill -HUP $MAINPID
#KillMode=process
#Restart=on-failure

[Install]
#WantedBy=multi-user.target

