[Unit]
Description=Ledslie scheduler
After=network.target

[Service]
EnvironmentFile=-/etc/default/ledslie
User={{ ansible_user }}
ExecStart=/home/{{ ansible_user }}/pyenv/bin/python /home/{{ ansible_user }}/src/ledslie/processors/scheduler.py
#ExecReload=/bin/kill -HUP $MAINPID
#KillMode=process
#Restart=on-failure

[Install]
WantedBy=multi-user.target

